@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.fc-bg {
  width: 100vw;
  height: 100dvh;
  background: url('/bg.webp') center center;
  background-size: cover;
  position: relative;
}

.myProfile {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.myProfile>img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.myProfile>p {
  font-weight: 600;
  transition: all .2s ease-in;
}

.myProfile:hover>p {
  color: #03A991;
}

section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.release_cover {
  width: 18rem;
  height: 18rem;
  border-radius: 1rem;
}

.release_content {
  display: grid;
  justify-content: space-between;
}

.release_content>a {
  font-weight: 600;
  margin-bottom: 1.4rem;
  font-size: 1.8rem;
}

.time_intro {
  margin-bottom: 1.7rem;
}

.time_container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.timer {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.timer_counter {
  display: flex;
  align-items: center;
  gap: 1rem;
}

h1,
span {
  font-size: 3.5rem;
  text-align: center;
}

.timerText {
  text-align: center;
}

.releaseDate {
  margin-top: 2rem;
}

@media (max-width: 480px) {
  section {
    top: 47%;
    display: grid;
    align-items: center;
    gap: 2rem;
  }

  .release_cover {
    width: 11rem;
    height: 11rem;
    margin: auto;
  }

  .release_content>a {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
  }

  .time_intro {
    display: none;
  }

  h1,
  span {
    font-size: 2.2rem;
  }

  .releaseDate {
    margin-top: 1.5rem;
  }
}